<div class="container">

  <div class="chart" id="chart-data" >
    <%= image_tag("ajax-loader.gif", alt: "AJAX loader", id: "ajax-loader") %>
  </div>

  <div class="chart-links">
    <ul>
      <li><a href="" id="average-sales">Average Sales</a></li>
      <li><a href="" id="total-sales">Total Sales</a></li>
      <li><a href="" id="employee-worth">Employee Worth</a></li>
      <li><a href="" id="average-tips">Average Tips</a></li>
      <li><a href="" id="average-time">Average Time</a></li>
      <li><a href="" id="tables-served">Tables Served</a></li>
    </ul>
  </div>
</div>