.chart
  margin: 50px auto 150px
  border: 1px solid #777
  padding: 7px

.container
  padding: 20px

.chart-links
  ul
    margin: 0 auto
    list-style: none
    text-align: center
    li
      padding: 0 10px
      margin: 0 auto
      display: inline

