.chart
  margin: 150px auto
  padding: 10px
  border: 1px solid gray
  &:first-child
    margin-top: 50px

.container
  padding: 20px

.chart-links
  ul
    margin: 0 auto
    list-style: none
    text-align: center
    li
      padding: 0 10px
      margin: 0 auto
      display: inline

